<script type="application/ld+json">
 { "@context": "http://schema.org",
 "@type": "Organization",
 "name": "Jaaga Coworking Community",
 "legalName" : "Jaaga Startup LLP",
 "url": "https://jaagastartup.in",
 "logo": "https://jaagastartup.in/public/logo.png",
 "foundingDate": "2009",
 "founders": [
 {
 "@type": "Person",
 "name": "Archana Prasad"
 },
 {
 "@type": "Person",
 "name": "Freeman Murray"
 } ],
 "address": {
 "@type": "PostalAddress",
 "streetAddress": "PH1, 6th Floor, Rich Homes",
 "addressLocality": "5/1 Richmond Road",
 "addressRegion": "Bangalore",
 "postalCode": "560025",
 "addressCountry": "India"
 },
 "contactPoint": {
 "@type": "ContactPoint",
 "contactType": "customer support",
 "telephone": "[+91-74119-67890]",
 "email": "startup@jaaga.in"
 },
 "sameAs": [ 
 "https://www.facebook.com/JaagaStartup",
 "https://www.twitter.com/JaagaStartup",
 "https://blog.jaagastartup.in",
 "https://www.linkedin.com/company/jaaga-startup",
 "https://plus.google.com/+JaagaStartupInBangalore"
 ]}
</script>