<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Day Pass",
  "image": "https://jaagastartup.in/public/lounge.jpg",
  "description": "Beautiful coworking space, friendly and collaborative community. Access for 1 day. Flexible Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "250",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "1 Week Pass",
  "image": "https://jaagastartup.in/public/nook.jpg",
  "description": "Beautiful coworking space, friendly and collaborative community. Access for 1 week. Flexible Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "1200",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "All Evenings Pass",
  "image": "https://jaagastartup.in/public/hall.jpg",
  "description": "Beautiful coworking space, friendly and collaborative community. Access all evenings in a month. Flexible Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "2000",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Flexible Membership",
  "image": "https://jaagastartup.in/public/collage2.jpg",
  "description": "Beautiful coworking space, friendly and collaborative community. Access all days of the month. Flexible Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "4000",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Dedicated Membership",
  "image": "https://jaagastartup.in/public/room.jpg",
  "description": "Beautiful coworking space, friendly and collaborative community. Access all days of the month. Dedicated Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "5000",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "Jaaga DNA Membership",
  "image": "https://jaagastartup.in/public/JaagaDNA1.jpeg",
  "description": "Beautiful coworking space for women entrepreneurs in Malleshwaram. Access all days of the month. Dedicated Seating.",
  "brand": {
    "@type": "Thing",
    "name": "Jaaga Coworking Community"
  },
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.5",
    "reviewCount": "37"
  },
  "offers": {
    "@type": "Offer",
    "priceCurrency": "INR",
    "price": "5000",
    "priceValidUntil": "2020-11-05",
    "availability": "http://schema.org/InStock",
    "seller": {
      "@type": "Organization",
      "name": "Jaaga Coworking Community"
    }
  }
}
</script>
