<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h2>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h2>
      <p class="sidebar-description">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
	  <!--
      <a href="https://www.instamojo.com/jaagastartup/jaaga-coworking-membership/" rel="im-checkout" data-behaviour="remote" data-style="no-style" data-text="Free Trial"></a>
      <script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
	  -->
      <a class="sidebar-nav-item" href="/coworking-benefits/">Coworking Benefits</a>
      <a class="sidebar-nav-item" href="/pricing/">Pricing</a>
      <a class="sidebar-nav-item" href="/locations/">Locations</a>
      <!-- <a class="sidebar-nav-item" href="/events/">Events</a> -->
      <a class="sidebar-nav-item" href="/team/">Team</a>
      <a class="sidebar-nav-item" href="http://gallery.jaagastartup.in" target="_blank">Gallery <i class="fa fa-external-link sidebar-license" aria-hidden="true"></i></a>
      <a class="sidebar-nav-item" href="http://blog.jaagastartup.in" target="_blank">Blog <i class="fa fa-external-link sidebar-license" aria-hidden="true"></i></a>
      
      <div class="im-checkout btn-82"><a href="/apply/" class="im-checkout-btn">Join Us</a></a></div>


      <!-- <a class="sidebar-nav-item" href="http://store.jaagastartup.in" target="_blank">Store</a> -->

      <a class="sidebar-contact-item" href="mailto:hello@jaagastartup.in" target="_blank"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;&nbsp;
      <a class="sidebar-contact-item" href="https://facebook.com/JaagaStartup" target="_blank"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;&nbsp;
      <a class="sidebar-contact-item" href="https://twitter.com/JaagaStartup" target="_blank"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;&nbsp;
      <a class="sidebar-contact-item" href="https://github.com/JaagaStartup/" target="_blank"><i class="fa fa-github"></i></a>&nbsp;&nbsp;&nbsp;

    </nav>

    <p class="sidebar-license">
      <a href="/ethics/">Ethics</a> | <a href="/privacy/">Privacy</a> | <a href="/terms/">Terms</a> | <a href="/sitemap.xml">Sitemap</a>
    </p>

    <p class="sidebar-license">
      <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Jaaga Startup content</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike 4.0 International License</a>
    </p>



  </div>
</div>
